.card {
    margin-bottom: 30px;
    border-radius: 15px;
}

.round-corner {
    border-radius: 15px;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

.main-block {
    margin-top: 2rem;
}
