.card {
    margin-bottom: 30px;
    border-radius: 15px;
}

.no-border {
    border: none;
}
.round-corner {
    border-radius: 15px;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

.main-block {
    margin-top: 2rem;
}

.modal-body{
    padding: 0;
    height: 70px;
}
.modal-footer {
    padding: 0.5rem;
}
/*Box shadow animation*/
.card {
    box-shadow: 0 5px 5px rgba(0, 1, 4, 0.08);
}

input.form-control{
    height: 70px;
    border: none;
}

.btn.btn-primary.submit-search {
    border-radius: 10px;
}

.search-form::placeholder {
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.51);
    vertical-align: bottom;
}

.card::after {
  content: "";
  border-radius: 15px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 10px rgba(54, 54, 54, 0.41);
  opacity: 0;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.card:hover {
  -webkit-transform: scale(1.01, 1.01);
  transform: scale(1.01, 1.01);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.card:hover::after {
    opacity: 1;
}

/*Override boostrap blue glow around input fields*/
input[type="text"], textarea {
    outline: none;
    box-shadow:none !important;
}
