.round-corner {
    border-radius: 15px;
}

a, a:hover {
    text-decoration: none;
    outline: 0;
    transition: .5s;
    color: black;
}


.post-card-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 10px 0;
    color: #1f1f1f;
    font-family: 'Montserrat', sans-serif;
}

.post-card-content {
    margin-bottom: 15px
}

.post-card-text {
    color: #666666;
    font-size: 16px;
    line-height: 22px;
    font-family: system-ui, -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif
}

/*Override boostrap blue glow around input fields*/
input[type="search"], textarea {
    outline: none;
    box-shadow: none !important;
}

.form-control::-webkit-input-placeholder {
    color: #bbb;
}

.avatar {
    border-radius: 50%;
    height: 3.75rem;
    width: 3.75rem;
    border: 1px solid rgba(52, 152, 219, 0.57);
}

.text-muted {
    color: #666666;
    font-size: 16px;
    line-height: 22px;
    font-family: system-ui, -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.article-content {
    padding-top: 3rem;
}

.article-title {
    font-family: 'Montserrat', sans-serif;
}

.article-content {
    font-family: system-ui, -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.7;
    letter-spacing: 0.069rem;
}

/*New UI*/
.navbar {
   height: 16vh;
}

.card {
    border: 1px solid #f0f8ff;
}
