.no-border {
    border: none;
}

.round-corner {
    border-radius: 15px;
}

a, a:hover {
    text-decoration: none;
    outline: 0;
    transition: .5s;
    color: black;
}

.modal-body {
    padding: 0;
    height: 70px;
}

.modal-footer {
    padding: 0.5rem;
}

input.form-control {
    height: 2rem;
    border: 1px solid rgba(52, 152, 219, 0.57);

}

.btn.btn-primary.submit-search {
    border-radius: 10px;
}

/*Post-card*/
.post-card {
    background: #fff;
    margin-bottom: 30px;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    box-shadow: 0 1px 6px 0 #dfe5ee
}

.post-card a.post-card-link {
    display: block;
    padding: 30px
}

.post-card a.post-card-link:hover {
    box-shadow: 0 2px 24px 5px #dde3ec
}

.post-card-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px 0;
    color: #1f1f1f
}

.post-card-content {
    margin-bottom: 15px
}

.post-card-content p {
    color: #7a7a7a;
    font-size: 16px;
    line-height: 22px;
    font-family: system-ui, -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif
}

/*Override boostrap blue glow around input fields*/
input[type="text"], textarea {
    outline: none;
    box-shadow: none !important;
    background-color: #2b77ad;
}

.form-control::-webkit-input-placeholder {
    color: #bbb;
}

.sidebar {
    background: linear-gradient(to bottom, #2c3e50 0%, #3498db 100%);
    align-items: center;
    border: 1px solid rgba(52, 152, 219, 0.57);
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    padding: 2rem;
    text-align: center;
    width: 310px;
    color: #e2e2e2;
}

.avatar {
    border-radius: 50%;
    height: 3.75rem;
    width: 3.75rem;
    border: 1px solid rgba(52, 152, 219, 0.57);
}

.content {
    margin-left: 310px;
}

@media only screen and (max-width: 768px) {
    .site-nav {
        padding: 0
    }
}

@media only screen and (max-width: 768px) {
    .content {
        margin-left: 260px
    }
}

@media only screen and (max-width: 768px) {
    .content {
        margin-left: 0
    }
}

@media only screen and (max-width: 768px) {
    .sidebar {
        width: 260px
    }
}

@media only screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative;
        height: auto;
        padding: 15px
    }
}

.article-content, .article-list {
    padding-top: 2rem;
}
