<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <div class="social-brand">
        <div class="logo">
          <a href="">
            <h2 title="Augusto Goulart"><span class="name-logo">
      Augusto </span><span class="surname-logo">Goulart</span>
            </h2>
          </a>
        </div>
        <div class="social-links">
          <a href="https://www.instagram.com/augusto_goulartc/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://github.com/augustogoulart" target="_blank"><i class="fab fa-github-square"></i></a>
          <a href="https://twitter.com/gus_goulart" target="_blank"><i class="fab fa-twitter-square"></i></a>
          <a href="https://t.me/augustogoulart" target="_blank"><i class="fab fa-telegram"></i></a>
        </div>
      </div>
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Stories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tutorials</a>
        </li>

        <li class="nav-item nav-item-subscribe">
          <a class="nav-link" id="subscribe" href="#">Subscribe</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
