<meta property="og:title" content="{{ self.article_title }}" />
<meta property="og:url" content="https://augusto.to/{{ self.slug }}/"/>
<meta property="og:image" content="{{ cover.url }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ self.headline}}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@gus_goulart" />
<meta name="twitter:creator" content="@gus_goulart" />
<meta name="twitter:title" content="{{ self.article_title }}" />
