<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content round-corner">
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="text" class="form-control round-corner search-form" id="recipient-name"
                   placeholder="Search...">
          </div>
        </form>
      </div>
      <div class="modal-footer no-border">
        <button type="button" class="btn btn-primary submit-search"><span class="fa fa-search"></span></button>
      </div>
    </div>
  </div>
</div>
