{% load static %}

<aside class="sidebar">
  <img src="{% static 'avatar.jpeg' %}" alt="" class="avatar">
  <h3 class="sidebar-brand">Augusto Goulart</h3>
  <nav class="social-links">
    <ul>
      <li><a href="https://www.instagram.com/augusto_goulartc/" target="_blank"><i class="fab fa-instagram"></i></a>
      </li>
      <li><a href="https://github.com/augustogoulart" target="_blank"><i class="fab fa-github"></i></a></li>
      <li><a href="https://twitter.com/gus_goulart" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li><a href="" target="_blank"><i class="fas fa-envelope-square"></i></a></li>
      <li><a href="https://t.me/augustogoulart" target="_blank"><i class="fab fa-telegram"></i></a></li>
    </ul>
  </nav>

  <form class="search-form">
    <div class="searchbox">
      <label for="search"><i class="fas fa-search"></i></label>
      <input id="search" type="search" placeholder="Search...">
      <span onclick="document.getElementById('search').value = ''"><i class="fas fa-times"></i></span>
    </div>
  </form>
  </div>
</aside>
