{% load static %}

<aside class="sidebar">
  <img src="{% static 'avatar.jpeg' %}" alt="" class="avatar">
  <h3 class="sidebar-brand">Augusto Goulart</h3>
  <nav class="social-links">
    <ul>
      <li><i class="fab fa-instagram"></i></li>
      <li><i class="fab fa-github"></i></li>
      <li><i class="fab fa-twitter"></i></li>
      <li><i class="fas fa-envelope-square"></i></li>
      <li><i class="fab fa-telegram"></i></li>
    </ul>
  </nav>
  <form class="search-form">
    <input type="text" class="form-control" placeholder="Search...">
</form>
</aside>
