{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% load humanize %}

{% block opengraph %}
  {% image self.cover width-1024 as cover %}
  {% include "core/blocks/open_graph.html" %}
{% endblock opengraph %}

{% block content %}
  {% image self.cover width-860 format-webp as cover %}
  <div class="container article-content">
    <div class="row justify-content-md-center">

      <div class="col-8">
        <h1 class="article-title">{{ self.title }}</h1>
        <p>
          {{ self.headline }}
        </p>
      </div>

      <div class="col-8 text-md-right">
        <div class="text-muted">
          {{ self.created_at|date:"M d, Y" }}
          {#          <span>•</span>#}
          {#          <span>5 min Read</span>#}
        </div>
      </div>

      <div class="text-center col-md-8 mt-5 mb-5 ">
        <img src="{{ cover.url }}" class="img-fluid" alt="{{ self.cover_alt }}">
        <div class="text-muted text">
          {{ self.cover_caption }}
        </div>
      </div>

    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-sm-12">
        {% for block in page.content %}
          {% include_block block %}
        {% endfor %}
        <small class="text-muted">Article updated {{ self.updated_at|naturaltime }}.</small>

{#        <a href="{{ self.twitter_link }}" target="_blank" rel="noopener">#}
{#          <div class="twitter-card d-flex justify-content-center m-lg-5 m-sm-2 round-corner">#}
{#            <h2 class="">Discuss on Twitter</h2>#}
{#          </div>#}
{#        </a>#}

      </div>
    </div>


  </div>
{% endblock %}
