{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load humanize %}

{% block content %}

  <div class="container article-content">
    <div class="row justify-content-md-center">

      <div class="col-12 text-center">
        <h1 class="display-6 article-title">{{ self.article_title }}</h1>
      </div>


      <div class="col-12 text-center">
        <div class="text-muted">
          {{ self.created_at|date:'F j, Y' }}<span class="reading-time">5</span> <span class="min-read">Min Read</span>
        </div>
        <small class="text-muted">Last updated {{ self.updated_at|naturaltime }}</small>
      </div>

    </div>

    <div class="row justify-content-md-center">
      <div class="col-md-10 col-sm-12 article-content">
        {% for block in page.content %}
          {% include_block block %}
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
