{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load humanize %}

{% block content %}

  <div class="container article-content">
    <div class="row justify-content-md-center">

      <div class="col-12 text-center">
        <h1 class="display-6 article-title">{{ self.article_title }}</h1>
      </div>

      <div class="col-12 text-center">
        <div class="text-muted">
          {{ self.created_at|naturaltime }}
          <span>•</span>
          <span>5 min Read</span>
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-md-10 col-sm-12 article-content">
        {% for block in page.content %}
          {% include_block block %}
        {% endfor %}
        <small class="text-muted">Article updated {{ self.updated_at|naturaltime }}.</small>
        {% include "core/blocks/disqus.html" %}
      </div>
    </div>
  </div>

{% endblock %}
