{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load humanize %}

{% block content %}

  <div class="container article-content">
    <div class="row justify-content-md-center">

      <div class="col-12 text-center">
        <h1 class="display-6 article-title">{{ self.page_title }}</h1>
      </div>
      </div>
  </div>

  <div class="row justify-content-md-center">
      <div class="col-md-8 col-sm-12 article-content">
        {% for block in page.content %}
          {% include_block block %}
        {% endfor %}
        {% include "core/blocks/disqus.html" %}
      </div>
    </div>
  </div>

{% endblock %}
