{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% load static %}

{% block content %}
  <div class="container ">

      {% for article in articles %}
        <div class="row justify-content-md-center">
        <div class="col-8">
          <a href="{{ article.url }}">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ article.article_title }}</h5>
             {% include_block article.article_subtitle %}
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
            </a>
        </div>
        </div>
      {% endfor %}
  </div>
{% endblock content %}
