{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% load static %}

{% block content %}
  <div class="container article-list">
      {% for article in articles %}
        <div class="row justify-content-md-center">
        <div class="col-12">
          <article class="post-card">
            <a href="{{ article.url }}" class="post-card-link">
              <header class="post-card-header">
                <h3 class="post-card-title">{{ article.article_title }}</h3>
              </header>
              <div class="post-card-content text-muted">
                {{ article.created_at|date:'F j, Y' }}<span class="reading-time">5</span> <span class="min-read">Min Read</span>
              </div>
              <footer class="post-card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </footer>
            </a>
          </article>
        </div>
        </div>
      {% endfor %}
  </div>
{% endblock content %}
