{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% load humanize %}

{% block opengraph %}
  {% image self.cover width-1024 as cover %}
  {% include "core/blocks/open_graph.html" %}
{% endblock opengraph%}

{% block content %}
{% image self.cover width-860 format-webp as cover %}
  <div class="container article-content">
    <div class="row justify-content-md-center">

      <div class="col-12 text-center">
        <h1 class="display-6 article-title">{{ self.article_title }}</h1>
        <p>
          {{ self.headline }}
        </p>
      </div>

      <div class="col-12 text-center">
        <div class="text-muted">
          {{ self.created_at|date:"M d, Y" }}
{#          <span>•</span>#}
{#          <span>5 min Read</span>#}
        </div>
      </div>

      <div class="text-center col-md-8 mt-5 mb-5 ">
        <img src="{{ cover.url }}" class="img-fluid" alt="">
        <div class="text-muted text">
          {{ self.cover_caption }}
        </div>
      </div>

    </div>

  <div class="row justify-content-center">
   <div class="col-md-8 col-sm-12 article-content twitter-embedded">
  <div class="card shadow-lg">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div class="card-body twitter-embedded-card-body">
          <h5 class="card-title pt-5 ml-3">Discuss on Twitter</h5>
          <p class="card-text mb-5 ml-3">I opened a thread on Twitter if you want to discuss this content</p>
          <p class="card-text">
          </p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body twitter-embedded-card-body">
          {{ self.twitter_link|safe }}
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

{% endblock %}
