{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8"/>
  <title>
    {% block title %}
      {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock %}
  </title>
  <meta name="description" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  {# Global stylesheets #}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
  <script src="https://kit.fontawesome.com/20982a72f8.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Source+Sans+Pro&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
  {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}
{% include "core/blocks/navbar.html" %}

<main class="container">
  {% block content %}{% endblock %}

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-6 d-flex justify-content-center">
          <ul class="list-unstyled text-small">
            <li><a class="footer-link link-redirect" href="#">About</a></li>
            <li><a class="footer-link link-redirect" href="#">Contact</a></li>
            <li><a class="footer-link link-redirect" href="#">Social</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-6 d-flex justify-content-center">
          <ul class="list-unstyled text-small">
            <li><a class="footer-link link-redirect" href="#">Stories</a></li>
            <li><a class="footer-link link-redirect" href="#">Tutorials</a></li>
            <li><a class="footer-link link-redirect" href="#">Projects</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</main>

{# Global javascript #}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>{% block extra_js %}
  {# Override this in templates to add extra javascript #}
{% endblock %}
</body>
</html>
